.body{
    background-color: #a09c9c;    
}

.header {
    margin: 6px 12px;
    font-size: 0;
    line-height: 35px;
    background-color: rgb(32, 49, 63);
    border-radius: 5px;
    margin-bottom: 10px;
}
  
li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 17px;
    border-top: 0;
    margin-top: 0px;
}

.logo-matcha {
    margin-bottom: 0px;
    margin-top: 16px;
    margin-left: 16px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    background-color: white;
}

.banner {  
    margin: 15px;  
    display: flex;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 8%;
    margin-bottom: 50px;
}

.xform > * {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 290px;
    margin: auto;
    background-color: rgb(41, 25, 21);
    border-radius: 5px;
    color: gray;
}
    .xform > * label {
        font-size: 16px;
        margin: 10px 40px;
        
    }

    .xform > * input {
        border-color: blanchedalmond;
        width: 230px;
        padding: 3px 9px;
        border-radius: 3px;
    }
    .xform > * button {
        color: white;
        background-color: #025157;
        width: 100px;
        margin: 10px 50px;
        padding: 12px 14px;
        border: 0;
        border-radius: 5px;
        margin-top: 4%;
        margin-bottom: 4%;
}

.top-button {
    margin-bottom: 10px;
    color: azure;
    margin-top: 0;
    margin-bottom: 1%;
    padding-top: 0px;
}

.button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.publish {
        margin: 2%;
        padding: 10px 10px;
    }

    .publish h3 {
        font-family: "Alegreya", serif;
        font-size: 40px;
        line-height: 48px;
        color: #025157;
        text-align: center;
    }

    .publish > p {
        font-size: 16px;
        color: #343434;
        line-height: 1.7;
        margin: 5% 5%;
        text-align: justify;
        overflow: auto;
}

.publish-form {
    font-family: "Alegreya", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    order: ;
}


.promo {
    background-color: beige;
    display: flex;
    width: 80%;
    margin: 100px auto;
    align-items: center;
    border-radius: 5px;
}

.cheems {
    border-radius: 20px;
    border-style: double;
    padding: 3px;
    border-color: white;
    background-color: rgb(34, 0, 0);
    margin: 35px 15px;
    width: 250px;
}

.videoxd {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.videoxd img {
    width: 120px;
    margin-top: 10px;
}

.image3 {
    border-color: rebeccapurple;
    background-color: rgb(173, 223, 220);
    border-radius: 2px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    border-radius: 3px;
}

main {
    margin-top: 150px;
    text-align: center;
}

.features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #a1d683;
}

.stories-text1 {
    color: #025157;
    font-size: 51px;
    line-height: 61px;
    font-family: "Alegreya", serif;
}

.stories-text2 {
    line-height: 1.5;
    font-family: "Alegreya", serif;
    color: #343434;
    font-size: 20px;
    margin-bottom: 1rem;
}

.stories-text {    
margin: 70px 130px;
}

.cost {
  text-align: center;
}

.costh1 {
  font-size: 50px;
  color: #025157;
}

.costp {
  margin: auto 320px;
  font-size: 21px;
}

.costhref {
  color: #025157;
}

.cost-buttom {
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px; 
}

.cost-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 110px;
    background-color: rgb(232, 229, 207);
}

.cost-cards1 {
    display: flex;
    flex-direction: column;
    border: black;
    width: 220px;
    height: 690px;
    background-color: aliceblue;
    border-radius: 4px;
    margin: auto;
    text-align: center;
}   

.cost-cards > * img {
    width: 170px;
    height: 370px;
}

.cost-cards > * h3 {
    font-size: 30px;
    color: #025157;
    font-family: "Alegreya", serif;
    line-height: 36px;
    font-weight: 400;
}

.cost-cards > * p {
    font-size: 15px;
    line-height: 1.5;
    padding: 5px 25px;
    text-align: center;
}

.cost-cards > * a {
    font-size: 15px;
    color: lightcoral;
    line-height: 1.5;
}

.finxd {
    width: 60%;
    margin: 100px 20%;
    border-radius: 6px;
}

.carousel-inner {
    width: 500px;
    height: 300px;
    margin: 70px auto;
}

.d-block {
    margin:auto;
}

.btnp {
    margin: 20px 550px;    
}

.cardxd {
    margin: 50px;
}


/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .body {
        background-color: #b37777;
    }
    /* .navbar, .actions {
        display: none;
    } */

    h1 {
        font-size: 30px;
    }
    main {
        margin-top: 130px;
    }
    .top-button {
        display: none;    
    }

    .logo-matcha {
        align-items: center;
    }
    .banner {
        width:  100%;
        margin: auto;
    }

    .xform {
        flex-direction: column;
        height: 60%;
    }
    .promo { 
        flex-direction: column;
        max-width: 100%; 
    }

    .features {
        grid-template-columns: 1fr;
    }

}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    .body {
        background-color: #b37699;
    }
    main {
        margin-top: 230px;
    }
    /* .navbar {
        display: none;
    } */
    .top-button {
        display: none;
    }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .body {
        background-color: burlywood;
    }
    main {
        margin-top: 240px;
    }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}
