.body{
    background-color: #a09c9c;
    
}

.header {
    margin: 6px 12px;
    font-size: 0;
    line-height: 35px;
    background-color: rgb(32, 49, 63);
    border-radius: 5px;
}
  
li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 23px;
    border-top: 0;
    margin-top: 0px;
}

.logo-matcha {
    margin-bottom: 0px;
    margin-top: 16px;
    margin-left: 16px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    background-color: white;
}

.navbar {
    width: 70%;
    margin: 0px;
    text-align: center;
    font-family: georgia;
    color: white;
    border-radius: 5px;
}

.logo-matcha2 {  
    margin: 15px;  
    display: flex;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 8%;
}

.actions {
    width: 15%;
    margin: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.xform {
    width: 50%;
    margin: auto;
    background-color: rgb(41, 25, 21);
    border-radius: 6px;
    text-align: center;
    color: gray;

}

.top-button {
    margin-bottom: 10px;
    color: azure;
    margin-top: 0;
    margin-bottom: 1%;
    padding-top: 0px;
    /* PENDIENTE */ 
}

.button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.publish {
    margin: 2%;
    padding: 10px 10px;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    text-align: center;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.7;
    margin: 5% 5%;
    text-align: justify;
    overflow: auto;
}

.publish > form {
    display: flex;
    align-items: center;
}

.publish > form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    background-color: beige;
    display: flex;
    width: 80%;
    margin: 100px auto;
    align-items: center;
    border-radius: 5px;
}

.cheems {
    border-radius: 20px;
    border-style: double;
    padding: 3px;
    border-color: white;
    background-color: rgb(34, 0, 0);
    margin: 35px 15px;
    width: 250px;
}

.videoxd {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.videoxd img {
    width: 120px;
    margin-top: 10px;
}

.image3 {
    border-color: rebeccapurple;
    background-color: rgb(173, 223, 220);
    border-radius: 2px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    border-radius: 3px;
}

main {
    margin-top: 200px;
    text-align: center;
}

.features {
    background-color: teal;
    display: grid;
    /*
    grid-template-columns: repeat(2, 300px);
    grid-template-columns: 500px 1fr;
    grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;   
}

.features-art {
    display: grid;
    position: static;
    grid-template-columns: repeat(2, 1fr);
    height: 370px;
    width: 600px;
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(37, 30, 30);
    border-radius: 3%;
    margin: 1px;
}

.features-grid {
    background-color:   beige;
    padding: 3%;
    margin: 30% 40%;
    border-radius: 3%;
    width: 320px;
    height: 200px;
    overflow: auto;
}

.figure3 {
    display: inline;
}

.image3 {
    display: inline-block;
    background-color: transparent;
    width: 15%;
}

.image4 {
    display: inline;
    width: 400px;

}

.features * > h3 {
    color: darkslateblue;
    text-align: left;
}

.features * > p { 
    text-align: justify;
    padding: 5px;
}

.fin {
    margin-top: 5%;
    width: 15%;
    margin: auto;
    display: flex;
    border-radius: 3px;
}