.body{
    background-color: rgba(194, 194, 194, 0.808);
    
}

button{
    color: #fff;
}

.header {
    margin: 10px 20px;
    font-size: 0;
    line-height: 35px;
    background-color: rgb(32, 49, 63);
    border-radius: 5px;
}
  
li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 23px;
    border-top: 0;
}

.logo-matcha {
    margin: 7px;
    padding-top: 9px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    background-color: white;
}

.navbar {
    width: 70%;
    margin: 9px;
    text-align: center;
    font-family: georgia;
    color: white;
    border-radius: 5px;
}

.logo-matcha2 {  
    margin: 15px;  
    display: flex;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 8%;
}

.actions {
    width: 15%;
    margin: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.xform {
    width: 90%;
    margin: auto;
    background-color: rgb(76, 91, 92);
    border-radius: 3px;
}

.top-button {
    margin-left: auto;
    /* PENDIENTE */ 
}

.button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish > p {
      font-size: 15px;
      color: #343434;
      line-height: 1.5;
      margin-bottom: 20px;
}

  .publish > form {
      display: flex;
  }

  .publish > form p {
      color: #025157;
      margin-right: 18px;
  }

.promo {
    background-color: beige;
    display: flex;
    width: 80%;
    margin: 100px auto;
    align-items: center;
    border-radius: 5px;
}

.cheems {
    border-radius: 20px;
    border-style: double;
    padding: 3px;
    border-color: white;
    background-color: rgb(34, 0, 0);
    margin: 35px 15px;
    width: 250px;
}

.videoxd {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.videoxd img {
    width: 120px;
    margin-top: 10px;
}

.image3 {
    border-color: rebeccapurple;
    background-color: rgb(173, 223, 220);
    border-radius: 2px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    border-radius: 3px;
}

main {
    margin-top: 285px;
    text-align: center;
}

.fin {
    width: 15%;
    margin: auto;
    display: flex;
    border-radius: 3px;
}

.features {
    background-color: teal;
    display: grid;
    /*
    grid-template-columns: repeat(2, 300px);
    grid-template-columns: 500px 1fr;
    grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);
    margin-left: 1px;
    border-radius: 8px;
    padding: 5% 4%;
}

.features-art {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 660px;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5px;
}

.features-grid {
    background-color:   beige;
    padding: 4%;
}